@media (max-width:767px){
    .card-item{
        margin-top:5%;
    }

    .link{
        margin:1%;
    }
    
    .dropdown{
        margin-bottom: 40%;
    }
}

/*responsive for sidebar*/
@media (max-width: 767px) {
    .sidebar {
        margin-left: 0;
        min-height: 100vh;
    }

    .sidebar-right {
        position: absolute;
        top: 6rem;
        right: 0;
        bottom: 6rem;
        overflow: scroll;
    }

    .content{
        margin-left: 1rem;
    }

    #addRecordBtn {
        bottom: 0;
        right: 0;
        position: fixed;        
    }
}

@media (min-width: 768px) and (max-width:1200px){
    .sidebar {
        min-height: 100vh;
    }

    .sidebar-right {
        position: absolute;
        top: 6rem;
        right: 0;
        bottom: 6rem;
        overflow: scroll;
    }

    .summary .btn-secondary {
        width: 100px;
    }

    #addRecordBtn {
        bottom: 0;
        right: 0;
        position: fixed;        
    }
}

@media (min-width: 1200px) {
    .sidebar {
        min-height: 100vh;
    }

    .sidebar-toggle, .sidebar-toggleright{
        display: none;
    }

    .sidebar-right {
        width: 51rem;
        min-height: 100vh;
        overflow: scroll;
    }

    #addRecordBtn {
        bottom: 0;
        right: 0;
        position: fixed;        
    }

    .chart {
        height: 500px;
    }
}

/*import Font awesome*/
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");

/*basic UI*/
h1{
    color:black;
}

p{
    margin-bottom: 0;
}

.card-item a{
    color:white;
    text-decoration: none;
}

.menu-items{
    margin-top:5%;
    margin-bottom: 5%;
}

.dropdown-menu-wide{
    width:100%;
}

.nopadding{
    padding:0;
}

/*side bar properties*/
.navbar-brand{
    width:100%;
}

.sidebar {
    width: 28rem;
    transition: all 0.3s;
}

.sidebar.toggled {
    margin-left: -28rem;
}

.settingsidebar {
    width: 18rem;
    transition: all 0.3s;
}

.settingsidebar.toggled {
    margin-left: -18rem;
}

.sidebar ul li a{
    display: block;
    padding: 0.75rem 1rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}

.fa{
    font-size:1rem;
}

.content {
    width: 100%;
}

.sidebar-right{
    background: #e6e5da;
}

.sidebar-right ul li a{
    text-decoration: none;
}

.summary .btn-secondary{
    background-color: rgb(217,216,206,0.7);
    border: none;
    border-radius: 0;
    color: rgb(76,76,76);
    width: 12rem;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 3rem;
}

.summary .btn-secondary:hover{
    background-color: rgb(217,216,206,1);
    border: none;
    color: rgb(76,76,76);
}

.summary .btn-secondary.focus, .btn-secondary:focus{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.btn.focus, .btn:focus{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.modal-header {
    padding: 0 1rem 0 1rem;
}

#closeBtn {
    margin: auto;
}

.custom-select {
    margin: 1rem;
    padding: 0;
    border-radius: 0;
    border: 0;
}

.custom-select {
    text-align: center;
    text-align-last: center;
}

#addRecordBtn {
    z-index: 1;
}

.list-group {
    margin: 1.5rem 1.5rem 0 1.5rem;
}

select {
    font-family: FontAwesome, sans-serif;
}

#account, #category, #transferFrom, #date {
    width: 100%;
}

#saveBtn {
    background-color: #4d4d4d;
}

#transferTo {
    padding: 0;
}

#selectFeature {
    border: 1px solid rgba(19, 2, 2, 0.5);
    border-radius: 25px;
}

/* for setting.html */
.modal-title {
    margin: 1rem;
}

#cashCloseBtn, #bankCloseBtn {
    margin: 0rem -1rem -1rem;
}

/*toggle group properties*/
ul#toggle-group li {
    display: inline;
    text-align: center;
    margin: 0;
}

ul#toggle-group li i {
    display: block;
}

.sidebar-toggle, .sidebar-toggleright {
    background: #4c4c4c;
}

.sidebar-toggle:hover{
    cursor: pointer;
}

.btn-group {
    margin: 0 .5rem 0 .5rem;
}

.chart {
    height: 500px;
}